body {
    font-family: Cambria, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin:0;
}

.header {
    font-size:45px;
    font-weight:bold;
}

.header,.footer {
    justify-content:center;
    padding:20px;
    display:flex;
    margin:0 0 20px 0;
    align-items: center;
    height:50px;
}

button {
    background-color: lightslategray;
    padding: 10px 20px;
    border-radius:8px;
    margin:15px;
    /* border:2px solid black; */
}

.container {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.box {
    display:grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    width:600px;
    height:600px;
}

.cell {
    background-color:white;
    border:gray;
    border-style:dotted;
    border-width:1px;
    border-radius:4px;
}

a {
    text-decoration: none;
    color: #959491;
    font-size:18px;
}